<!DOCTYPE html>
<!-- TODO Da fare lo script javascript che ti rende automatica la creazione della tabella in base a quello che scegli -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="areaDInteresse.css">
</head>
<body>
<div class="container">
<h2>Di che settore ti occupi?</h2>
</div>
<div class="table">
<table>
    <thead>
        <tr>
            <th>Settori produttivi</th>
            <th>Divisione Ateco</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">Agricoltura, silvicoltura e pesca</td>
        </tr>
        <tr>
            <td>01</td>
        </tr>
        <tr>
            <td>02</td>
        </tr>
        <tr>
            <td>03</td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>