<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <meta content="Progetto Gim" name="keywords">
    <meta content="" name="description">
    <meta content="np-template-header-footer-from-plugin" name="page_type">
    <link href="nicepage.css" media="screen" rel="stylesheet">
    <link href="signIn.css" rel="stylesheet">
    <script class="u-script" defer="" src="nicepage.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" id="u-theme-google-font" rel="stylesheet">
    <meta content="Pagina 1" property="og:title">
    <meta content="website" property="og:type">
    <meta content="#478ac9" name="theme-color">
    <link href="index.html" rel="canonical">
    <meta content="index.html" property="og:url">
</head>

<body class="u-body" data-home-page="Pagina-1.html" data-home-page-title="Pagina 1">
<header class="u-clearfix u-header u-header" id="sec-d2a5">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a class="u-image u-logo u-image-1" href="https://nicepage.com">
            <img class="u-logo-image u-logo-image-1" src="default-logo.png">
        </a>
    </div>
</header>
<section class="u-align-left u-clearfix u-image u-shading u-section-1" data-image-height="256" data-image-width="256" id="sec-0259" src="">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-title u-text-1">Progetto Gim</h1>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-2">Benvenuto, questo è GIM, il nuovo gestionale per le piccole e medie imprese</p>
        <a class="u-btn u-button-style u-palette-2-base u-btn-1" href="signIn.html">Iscriviti</a>
        <a class="u-text u-text-default u-text-3" href="signup.html">Sei già cliente, allora clicca qua</a>
    </div>
</section>
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-08ef">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Partito da un idea di Edoardo Laurini. Gestito interamente da Edoardo e Jacopo Crocetta</p>
    </div>
</footer>
</body>

</html>