<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resetta qua la tua password</title>
    <link href="resetPassword.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <label for="psw"><b>Vecchia Password</b></label>
    <input name="psw" placeholder="Enter Password" required type="password">
</div>
<div class="container">
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
</div>
<div class="container">
    <label for="psw"><b>Ripeti Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
</div>
<div class="container">
    <button class="invioResetBtn" type="button">resetta password</button>
</div>
</body>
</html>